<!DOCTYPE html>
<!--

///////////////THINGS TO DO////////////
//
// add datastorage
//  - keep activity list locally
//  - update activity state in datastore
//
// 
// more filters (implies more advanced activity model)
//  - time of day
//  - context (work, projects, etc)
//
//
// move activity listing out of activity controller
//  - move pretty much everything in ActivityCtl to ActivityMgt
//  - make activityCtl proper controller
//  - move all data operations to manager (model, whatever)

// add 3 filters:

// favor longest duration

// favor most lagging

// favor shortest duration

// function curried into activity

// -----

// add 'last done' (never, 1yr, 6mo, 3mo, 1mo, just now) to initial activity add
 -->

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" ng-app="lifeCoach"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <style>
      .hide { display: none; }
    </style>
  <head>
  </head>
  <body ng-app="lifeCoach">
    <div id="NewActivityCtl" ng-controller="NewActivityCtl">
      <form id="newActivityForm" ng-model="activity" ng-submit="addActivity()">
        <div>
          <input type="text" ng-model="activity.name" name="name" placeholder="activity name" />
          <input type="text" ng-model="activity.duration" name="duration" placeholder="duration" />
          <input type="text" ng-model="activity.period" name="period" placeholder="period" />
          <input type="text" ng-model="activity.contextList" name="contexts" placeholder="work, auto, yard, etc" /><!-- ng-pattern="/(@[a-zA-Z\s]*)(,|$)\s*/" -->
        </div>
        <div>
          <input type="submit" />
        </div>
      </form>
    </div>

    <div ng-controller="ActivityDisplayCtl">
      <ul>
        <li>
          <input type="checkbox" ng-model="showNoContext" /> Not in context
        </li>
        <li ng-repeat="context in contexts">
          <input type="checkbox" ng-model="context.displayCopy.isShowing" />  {{context.displayCopy.name}}
        </li>
      </ul>
      <ul id="activityList">
        <li ng-repeat="activity in activities() | orderBy:'displayCopy.createdAt':true | filter:inActiveContext">
          <div>
            {{activity.displayCopy.name}} - {{activity.displayCopy.completed*100}}%  
            <a href="#" ng-click="completeBy(activity, 0.25)">25%</a>
            <a href="#" ng-click="completeBy(activity, 0.50)">50%</a>
            <a href="#" ng-click="completeBy(activity, 0.75)">75%</a>
            <a href="#" ng-click="completeBy(activity, 1)">100%</a>
          </div>
          <div>{{activity.displayCopy.contextList}}</div>
          <div ng-class="{true: 'hide', false: ''}[activity.isBeingEdited]" >
            <a href="#" ng-click="openForEdit(activity)">edit</a>
          </div>
          <div ng-class="{true: '', false: 'hide'}[activity.isBeingEdited]" >
            <form ng-submit="saveEdit(activity)">
              <input type="text" ng-model="activity.editCopy.name" name="name" placeholder="activity name" />
              <input type="text" ng-model="activity.editCopy.duration" name="duration" placeholder="duration" />
              <input type="text" ng-model="activity.editCopy.period" name="period" placeholder="period" />
              <input type="text" ng-model="activity.editCopy.contextList" name="contexts" placeholder="@work, @automotive, @yard, etc" />
              <input type="submit" value="Commit" />
              <input type="button" value="cancel" ng-click="cancelEdit(activity)" />
              <input type="button" value="delete" ng-click="deleteActivity(activity)" />
            </form>
          </div>
        </li>
      </ul>
    </div>
    <script src="lib/underscore-min.js"></script> 
    <!-- <script src="lib/date.js"></script> -->
    <script src="lib/jquery.min.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular/angular-resource.min.js"></script>

    <script src="js/app.js"></script>
    <script src="js/controllers/activityDisplayCtl.js"></script>
    <script src="js/controllers/newActivityCtl.js"></script>
    <script src="js/models/activityMgt.js"></script>
    <script src="js/models/contextMgt.js"></script>
  </body>
</html>
